

/* Estilo para o cabeçalho */
header {
  background-color: #0056b3;
  width: 100%;
  height: 100px;
  background-image: url('BUwQtAL - Imgur (2).png');
  background-repeat: no-repeat;
  background-position: 84% 50%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

   
#burger{
  font-family: 'Material Symbols Outlined', sans-serif;
  margin-left: 10px;
  color:rgb(233, 183, 139);
font-size: 60px;
margin-top: -20px;
cursor: pointer;
  
  

}
.duvidas{
    border-bottom: 1px solid black;
    width: 400px;
    height: 50px;
    
   
  }
  .duvidas:hover{
    background-color: rgba(169, 169, 169, 0.39);
  }
  .duvida:hover{
    background-color: rgba(169, 169, 169, 0.39);
  }
  .duvida{
    border-bottom: 1px solid black;
    width: 400px;
    height: 60px;
    background-color: #007bff;
    color: white;
    margin-top: -50px;
    font-size: 25px;
    
  
  }
  .duvida p {
    margin-top: 40px;
  }
