body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Estilos específicos para a página FAQ */
  h2 {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  
  ol {
    margin-bottom: 20px;
  }
  
  ol li {
    margin-bottom: 10px;
  }
  
  /* Estilos específicos para a página inicial */
  .homepage-link {
    display: block;
    margin-top: 20px;
    text-align: center;
  }
  header{
    background-color: #0056b3;
    width: 100%;
    height: 100px;
    background-image: url(BUwQtAL\ -\ Imgur\ \(2\).png);
    background-repeat: no-repeat;
    background-position: 84% 50%;
   
  }

h4{
margin-left: 420px;
color: white;

}
#faq-content {
  /* Seus estilos aqui */
  margin-top: 20px;
  padding: 20px;
  margin-left: 40px;
 
}

h5{
color:rgb(233, 183, 139);
font-size: 35px;


margin-left: 1620px;
font-family: Georgia, 'Times New Roman', Times, serif;
margin-top: 10px;
}
#logo{
margin-left: 1500px;
margin-top: -90px;
}
.menu {
display: none;
position: absolute;
margin-top: 23px;
margin-left: 5px;
background-color: #fff;
padding: 10px;
border: 1px solid #ccc;
width: 390px;
height: 520px;
}
#divb{
margin-top: -130px;
width: 200px;
}
#burger{
  font-family: 'Material Symbols Outlined', sans-serif;
  margin-left: 70px;
  color:rgb(233, 183, 139);
font-size: 60px;
margin-top: -20px;
cursor: pointer;
  
  


}
.duvidas{
  border-bottom: 1px solid black;
  width: 400px;
  height: 50px;
 
}
.duvidas:hover{
  background-color: rgba(169, 169, 169, 0.39);
}
.duvida:hover{
  background-color: rgba(169, 169, 169, 0.39);
}
.duvida{
  border-bottom: 1px solid black;
  width: 400px;
  height: 60px;
  background-color: #007bff;
  color: white;
  margin-top: -50px;
  font-size: 25px;
  

}
.duvida p {
  margin-top: 40px;
}