@media screen and (max-width: 600px){
    /* Estilos para o texto */
.description {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333; /* Cor do texto */
  }
  
  /* Estilos para os cabeçalhos */
  .heading {
    font-weight: bold;
    margin-bottom: 10px; /* Espaçamento abaixo dos cabeçalhos */
  }
  
  /* Estilos para a lista de recursos */
  .features {
    list-style-type: none;
    padding-left: 0;
  }
  
  /* Estilos para os itens da lista de recursos */
  .feature {
    margin-bottom: 5px; /* Espaçamento entre os itens */
  }
  
  /* Estilos para destacar a empresa */
  .company-highlight {
    color
    : #007bff; /* Cor para destacar o nome da empresa */
  }
  header {
    background-color: #0056b3;
    width: 435px;
    height: 100px;
    /* Defina a imagem de fundo */
    background-image: url('BUwQtAL - Imgur (1)1.png');
    /* Configure a posição da imagem de fundo */
    background-position: 60% 50%;  /* Você pode ajustar para top, bottom, left, right, etc. */
    /* Configure o tamanho da imagem de fundo */
     /* A imagem cobrirá todo o cabeçalho */
    /* Evite que a imagem de fundo se repita */
    background-repeat: no-repeat;
}
#burger{
    font-family: 'Material Symbols Outlined', sans-serif;
    margin-left: 10px;
    color:rgb(233, 183, 139);
  font-size: 40px;
  margin-top: 120px;
  cursor: pointer;
    
    

  }
  h4{
  margin-left: 420px;
 
  
}
h5{
    color:rgb(233, 183, 139);
    font-size: 23px;
    

    margin-left: 287px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
  }
  #logo{
  margin-left: 230px;
  margin-top: -90px;
}
  .duvidas{
    border-bottom: 1px solid black;
    width: 400px;
    height: 50px;
   
  }
  .duvidas:hover{
    background-color: rgba(169, 169, 169, 0.39);
  }
  .duvida:hover{
    background-color: rgba(169, 169, 169, 0.39);
  }
  .duvida{
    border-bottom: 1px solid black;
    width: 400px;
    height: 60px;
    background-color: #007bff;
    color: white;
    margin-top: -50px;
    font-size: 25px;
    
  
  }
  .duvida p {
    margin-top: 40px;
  }
  .menu {
    display: none;
    position: absolute;
    margin-top: 23px;
    margin-left: 5px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    width: 390px;
    height: 520px;
}
#divb{
    margin-top: -80px;
    width: 200px;
  }
  
}
